---
const { border, background, style } = Astro.props;
---

<div class:list={['widget', { border: border }]} style={style}>
  <slot />
</div>

<style>
  .widget {
    padding: 1rem;
    overflow: hidden;
  }
  .border {
    border-bottom: 2px solid #fff;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
  }
  .border:last-child {
    border-bottom: 0;
  }
</style>