---
const { style } = Astro.props;
---

<div class="widget" style={style}>
  <slot />
</div>

<style>
  .widget {
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
  }
  .widget:not(:last-child) {
    margin-bottom: 1rem;
  }
</style>